<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.ccachi.user.dao.UserDao">
	<resultMap type="User" id="userMap">
	</resultMap>

	<!-- 전체 유저 조회 -->
	<select id="selectAll" resultType="User">
		SELECT id, name, email
		FROM ccachiuser;
	</select>

	<!-- 단일 유저 조회 -->
	<select id="select" resultType="User">
		SELECT id, name, email
		FROM ccachiuser
		WHERE id = #{id};
	</select>
	<!-- 단일 유저 조회(이메일) -->
	<select id="selectByEmail" resultType="User">
		SELECT id, name, email, password
		FROM ccachiuser
		WHERE email = #{email};
	</select>
	<!-- 단일 유저 조회 -->
	<select id="checkByEmail" resultType="User">
		SELECT id, name, email
		FROM ccachiuser
		WHERE email = #{email};
	</select>

	<!--	유저 회원가입-->
	<insert id="createUser" parameterType="User" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO ccachiuser (id, name, password, email)
		VALUES (0, #{name}, #{password}, #{email})
	</insert>

	<delete id="delete">
		DELETE FROM ccachiuser
		WHERE id = #{id}
	</delete>



</mapper>